
html {
	background-color: #f2f2f2;
}

header {
	background-color: #388C0A;
	padding: 10px 0;
}

header h1 {
	margin: 0;
	text-align: center;
	font-weight: 600;
	font-size: 32px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', Arial, sans-serif;
}

body {
	margin: 0 auto;
	font-family: Georgia, Times New Roman, serif;
	line-height: 1.6;
	font-size: 18px;
}

.topnav {
	background-color: #333;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center; 
	position: sticky;   
	top: 0;             
	z-index: 1000;
}

.topnav a {
	display: block;
	color: #f2f2f2;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav .icon {
	display: none; 
}

.nav-logo {
	width: 80px;
	height: auto;
	margin-right: 10px;
}

article {
	width: 80%;
	margin: 0 auto;
}

.featured {
	display: flex;
	align-items: center;
	width: 75%;
	margin: 30px auto;
	border: 1.5px solid black;
}

.featured-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	padding: 30px;
}

.gravid-image {
	width: 100%;
	height: auto;
}

.featured-text {
	width: 60%;
	padding: 10px;
}

.featured-text h2 {
	margin-top: 0;
}

@media screen and (max-width: 800px) {

.topnav {
	justify-content: flex-start; 
}

.topnav a:not(.icon) {
	display: none;
}

.topnav .icon {
	display: block;
	margin-right: auto; 
}

.topnav.responsive {
	flex-direction: column;
	align-items: flex-start;
}

.topnav.responsive a {
	display: block;
	width: 100%;
	text-align: left;
}


}